<script src="https://unpkg.com/xterm@4.17.0/lib/xterm.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.min.css"
    integrity="sha512-iLYuqv+v/P4u9erpk+KM83Ioe/l7SEmr7wB6g+Kg1qmEit8EShDKnKtLHlv2QXUp7GGJhmqDI+1PhJYLTsfb8w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<a href="/dashboard">Go Home</a><br></br>

<h1 id="name">Name: <%= container_info.Name %>
</h1>
<a id="image">Image: <%= container_info.Image %></a><br>
<a id="state">State: <%= container_info.State.Status %></a><br>
<a id="exitcode">Exit Code: <%= container_info.State.ExitCode %></a><br>
<a id="id">Container ID: <%= container_info.Id %></a><br>

<button id="start_button" onClick="start()" disabled>Start Container</button>

<button id="stop_button" onClick="stop()" disabled>Stop Container</button>

<button id="kill_button" onClick="kill()" disabled>Kill Container</button>

<a href="/dashboard/container/<%= container_info.Node.name %>/<%= container_info.Id %>/exec">Exec</a>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function reloadAjax() {
        $.ajax({url: `${window.location.href}/ajax`, success: function(result) {
            $("#name").html(`Name: ${result.container_info.Name}`);
            $("#image").html(`Image: ${result.container_info.Image}`);
            $("#state").html(`State: ${result.container_info.State.Status}`);
            $("#exitcode").html(`Exit Code: ${result.container_info.State.ExitCode}`);
            if (result.container_info.State.Running === true) {
                $("#start_button").attr("disabled", true);
            } else {
                $("#start_button").attr("disabled", false);
            }

            if (result.container_info.State.Running === false) {
                $("#stop_button").attr("disabled", true);
                $("#kill_button").attr("disabled", true);
            } else {
                $("#stop_button").attr("disabled", false);
                $("#kill_button").attr("disabled", false);
            }
        }});
        setTimeout(reloadAjax, 1000);
    }
    reloadAjax()
</script>

<script>
    async function start() {
        const res = await fetch("/dashboard/container/<%= container_info.Node.name %>/<%= container_info.Id %>/actions/start", { method: "POST", credentials: "same-origin" });
        const response = await res.json();
        if (response.status === 'STARTED') {
            Swal.fire({
                title: 'Success',
                text: 'The start signal has been sent to the contianer.',
                icon: 'success'
            })
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Uh Oh!',
                text: 'Something went wrong when sending the start signal to the container! Please try again later.',
            })
        }
    }
</script>

<script>
    async function stop() {
        const res = await fetch("/dashboard/container/<%= container_info.Node.name %>/<%= container_info.Id %>/actions/stop", { method: "POST", credentials: "same-origin" });
        const response = await res.json();
        if (response.status === 'STOPPED') {
            Swal.fire({
                title: 'Success',
                text: 'The stop signal has been sent to the contianer.',
                icon: 'success'
            })
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Uh Oh!',
                text: 'Something went wrong when sending the stop signal to the container! Please try again later.',
            })
        }
    }
</script>

<script>
    async function kill() {
        const res = await fetch("/dashboard/container/<%= container_info.Node.name %>/<%= container_info.Id %>/actions/kill", { method: "POST", credentials: "same-origin" });
        const response = await res.json();
        if (response.status === 'KILLED') {
            Swal.fire({
                title: 'Success',
                text: 'The kill signal has been sent to the contianer.',
                icon: 'success'
            })
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Uh Oh!',
                text: 'Something went wrong when sending the kill signal to the container! Please try again later.',
            })
        }
    }
</script>

<style>
    body {
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
</style>